@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600&f[]=nunito@300,201,600,400,500&display=swap");


:root {
  --primary-font: 'Clash Display', sans-serif;
  --secondary-font: 'Nunito', sans-serif;
  --bg: #EEF3FF;
}

